@import '../../styles/vars';
/*@import '~react-calendar/dist/Calendar.css';*/
.dashboard-calender{
  width: 100%;
  max-width: 100%;
}
.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__month-view__weekdays{
  border-bottom: 3px solid $grey;
  .react-calendar__month-view__weekdays__weekday{
    font-size: 1.2em;
    padding: 1em 0.5em;
    abbr{
      text-decoration: none;
    }
  }
}

.react-calendar__month-view__days{
  color: $grey;
  font-size: 1.2rem;
  padding: 1em 0.5em;
  button.react-calendar__tile{
    height: auto;
  }
  .react-calendar__tile--active{
    background: $red;
  }
}

.react-calendar__navigation{
  background: $bg-light-grey;
  padding: 50px 20px;
  height: auto;
  .react-calendar__navigation__label{
    font-size: 48px;
    text-align: left;
  }
}
