@import '../../styles/vars';
.summary{
  padding: 20px 10px;
  h5{
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }

  .result{
    font-size: 48px;
    font-weight: 400;
    text-align: left;
  }
}
