@import '../../styles/vars';

$line: rgba(255, 255, 255, 0.6);
$spacing: 15px;

.timeline {
	border-left: $line solid 1px;
	margin: 0;
	line-height: 1;
	padding: $spacing;
	list-style: none;
	text-align: left;
	font-weight: 400;
	max-width: 30%;
	
	&:before {
		color: $white;
	}
}

.timeline-item {
	padding: $spacing;
	position: relative;
	
	&: last-of-type {
		padding-bottom: 0;
		margin-bottom: 0;
		border: none;
	}
}